﻿.edit-order-component {
    .panel {
        border-radius: 0
    }

    .item-index {
        border-left: 2px solid #337ab7;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 16px;
        background-color: whitesmoke;
        padding: 8px 19px;
    }

    .restore-stock-button {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .order-summary-component {
        tr {
            td {
                &:last-of-type {
                    text-align: right;
                }

                .coupon-code {
                    color: #777;
                }
            }

            &:last-of-type {

                td {
                    background-color: #f5f5f5;
                }
            }
        }
    }

    #confirm-send-email-modal {
        .modal-errors {
            font-size: 0.857em;
            color: red;
            margin-bottom: 15px;
        }
    }
}
