﻿.collection-sidebar-component {
    .category-wrapper {
        cursor: pointer;

        .category-link {
        }

        .category-children-wrapper {
            display: none;

            &.open {
                display: block;
            }

            .category-wrapper {
                .category-link {
                }
            }
        }
    }
}

@import (optional) "collection-sidebar-override.less";
