﻿@register-form-error: #93121e;

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .form-step {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        animation: animate-step-in 0.45s forwards;
    }

    .form-inputs {
        margin-bottom: 1.2em;
        width: 100%;
    }

    .form-input {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 2em;
        align-items: flex-start;

        .form-input__label {
            margin-bottom: 0.3em;
            letter-spacing: 0.02em;
        }

        .form-input__input-wrapper {
            position: relative;
            width: 100%;
        }

        .password-visibility-toggle {
            position: absolute;
            right: 1em;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            width: 1.5em;
            opacity: 0.75;
            cursor: pointer;
            padding: 0.5em 0 0.5em 0;
        }

        .form-input__input {
            width: 100%;
            padding: 0.55em 0.5em;
            border: solid fade(gray, 20%) 1.5px;
            border-radius: 0.2em;
            outline: none !important;
            transition: border-color 0.3s;

            &:hover,
            &:focus {
                border-color: fade(gray, 50%);
            }

            &::-webkit-input-placeholder {
                color: fade(gray, 40%);
            }

            &:-moz-placeholder {
                color: fade(gray, 40%);
            }

            &::-moz-placeholder {
                color: fade(gray, 40%);
            }

            &:-ms-input-placeholder {
                color: fade(gray, 40%);
            }
        }

        .form-input__help-text {
            & > * {
                letter-spacing: 0.02em;
                transition: opacity 0.22s;
                opacity: 0.6;
            }

            .password-strength {
                font-style: italic;
                opacity: 0;
                transition: opacity 0.3s;

                &.password-strength--visible {
                    opacity: 1;
                }

                &.password-strength-0,
                &.password-strength-1 {
                    strong {
                        color: #93121e;
                    }
                }

                &.password-strength-2 {
                    strong {
                        color: #d1934f;
                    }
                }

                &.password-strength-3,
                &.password-strength-4 {
                    strong {
                        color: #57bd59;
                    }
                }
            }
        }

        &.form-input--error {
            .form-input__input {
                border-color: @register-form-error;
                // border-color: #ed2929;
            }
        }
    }

    .form-checkbox {
        position: relative;
        margin: 5px 0 0;
        left: -5000px;
        outline: none !important;

        &:before {
            content: "";
            display: block;
            position: absolute;
            border: solid 1.5px fade(gray, 20%);
            border-radius: 3px;
            width: 15px;
            height: 15px;
            top: 0px;
            left: 5000px;
            cursor: pointer;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            background-color: #4c4c4c;
            border-radius: 10px;
            width: 7px;
            height: 7px;
            top: 4px;
            left: 5004px;
            transform: scale(0, 0);
            transition: transform 0.35s;
            cursor: pointer;
        }

        &:checked {
            &:after {
                transform: scale(1, 1);
            }
        }

        &:read-only,
        &:disabled {
            cursor: not-allowed;
        }
    }

    .form__button-separator {
        margin: 1em 0;
        letter-spacing: 0.02em;
    }

    .form__social-login {
        width: 100%;

        .button {
            margin-bottom: 1.5em;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .form__secondary-action {
        margin-top: 1em;
        letter-spacing: 0.02em;

        a {
            font-weight: bold;
            text-decoration: underline;
        }

        &.form__secondary-action-cursor {
            cursor: pointer;
        }
    }
}

@keyframes animate-step-in {
    0% {
        opacity: 0;
        transform: translateX(-0.8em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@import (optional) "register-form-override.less";
