﻿.edit-user-component {
    #edit-user-credits-modal {
        .modal-footer {
            & > span {
                .button-submit-component {
                    margin-right: 1em;
                }
            }
        }
    }

    .user-localized-kits-component {
        .controls {
            margin-bottom: 2em;
        }

        .table-component {
            tr {
                th {
                    &:last-of-type {
                        text-align: right;
                    }
                }

                td {
                    &:last-of-type {
                        text-align: right;
                    }


                    button {
                        padding: 0;

                        &:first-of-type {
                            margin-right: 1.5em;
                        }
                    }
                }
            }
        }
    }
}
