﻿@using SumoSoft.Cms.Mvc.Extensions

@*
	-------------------------------------------------------------------
	THIS VIEW IS PART OF THE SUMOSOFT CMS. DO NOT CHANGE THE CODE BELOW.
	To override this View, create another View with the same name followed
	by the suffix ".Override.cshtml"
	-------------------------------------------------------------------
*@

<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Account</title>
	<meta name="description" content="" />

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
	<link href="~/Areas/Admin/Content/flags/flag-icon.min.css" rel="stylesheet" />
	<link href="@Html.AppendVersionToFile("/Areas/Admin/Scripts/bundles/admin.css")" rel="stylesheet" />

	<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>

</head>
<body>

    @RenderBody()

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/Areas/Admin/Scripts/ckeditor/ckeditor.js"></script>
    <script src="/Areas/Admin/Scripts/ckeditor/adapters/jquery.js"></script>
    <script async src="@Html.AppendVersionToFile("/Areas/Admin/Scripts/bundles/admin.bundle.js")"></script>

    @RenderSection("scripts", required: false)

</body>
</html>