﻿.sortable-component {
    .display-table {
        &.header {
            padding: 12px;
            vertical-align: middle;
            font-weight: normal;
            font-size: 12px;
            color: #337ab7;
            border-bottom: 3px solid #e9ebee;
        }

        .display-table-cell {
            word-break: break-word;
            padding-right: .5em;
        }
    }

    .dd {
        max-width: unset;

        .dd-list {
            .dd-item {
                font-size: 14px;
                cursor: move;

                .dd-collapse, .dd-expand {
                    font-size: 14px;
                    margin: 12px 0;
                }

                .dd-handle {
                    height: unset;
                    color: #333333;
                    font-weight: 400;
                    border: unset;
                    border-bottom: 1px solid #dddddd;
                    background: none;
                    border-radius: unset;
                    padding: 12px 12px 12px 1.8em;
                    margin: 0;
                    line-height: 1.42857143;

                    &:hover {
                        color: #296293;
                    }
                }
            }
        }
    }

    .dd-nodrag {
        cursor: default !important;
    }
}
