﻿.textbox-component {
    position: relative;

    input {
        width: 100%;
        resize: none;
        margin: 5px 0 0;
        border: none;
        border-bottom: solid 2px #e9ebee !important;
        transition: border-bottom .45s;
        display: block;
        outline: none !important;
        padding: 0 0 5px 0;

        &:focus {
            border-bottom: solid 2px #337ab7 !important;
        }
    }

    .textbox-addon {
        position: absolute;
        bottom: 2.5px;
        right: 0;
        background: none;
        background-color: #fff;
        border: none;
        transition: background-color .25s;
        font-size: 1.2em;

        &:hover {
            background-color: #e9ebee;
        }
    }
}
