﻿.file-picker-component {
    position: relative;

    .modal-dialog {
        @media(min-width: 768px) {
            width: 90%;
            max-width: 995px;
        }
    }

    input {
        width: 100%;
        resize: none;
        border: none;
        border-bottom: solid 2px #e9ebee !important;
        transition: border-bottom .45s;
        display: block;
        outline: none !important;
        margin: 5px 0 0;
        padding: 0 0 5px 0;

        &:focus {
            border-bottom: solid 2px #337ab7 !important;
        }
    }

    button[data-toggle="modal"] {
        position: absolute;
        bottom: 2.5px;
        right: 0;
        background: none;
        background-color: #fff;
        border: none;
        transition: background-color .25s;
        font-size: 1.2em;

        &:hover {
            background-color: #e9ebee;
        }
    }

    .file-picker-modal-body {
        min-height: 340px;

        .directory,
        .parent {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100px;
            width: 120px;
            padding-top: 120px;
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 60px;
            text-align: center;
            cursor: pointer;

            p {
                margin-top: 15px;
                height: 4.5em;
                overflow: hidden;
                word-break: break-all;
                color: black;
                font-size: 1.1em;
            }
        }

        .file {
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 60px;
            text-align: center;
            cursor: pointer;
            width: 120px;

            .media-thumbnail {
                width: 120px;
            }

            p {
                margin-top: 15px;
                height: 4.5em;
                overflow: hidden;
                word-break: break-all;
                color: black;
                font-size: 1.1em;
            }
        }

        .directory {
            background-image: url(/areas/admin/content/img/folder.png);
            background-size: 90px;
        }

        .parent {
            background-image: url(/areas/admin/content/img/parent-folder.png);
            background-size: 90px;
        }
    }
}
