﻿@reset-form-error: #93121e;

.reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .form-subtext {
        margin-bottom: 2em;
    }

    .form-inputs {
        margin-bottom: 3.2em;
        width: 100%;
    }

    .form-input {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 1em;
        align-items: flex-start;

        .form-input__label {
            margin-bottom: 0.3em;
            letter-spacing: 0.02em;
        }

        .form-input__input {
            width: 100%;
            padding: 0.55em 0.5em;
            border: solid fade(gray, 20%) 1.5px;
            border-radius: 0.2em;
            outline: none !important;
            transition: border-color 0.3s;

            &:hover,
            &:focus {
                border-color: fade(gray, 50%);
            }

            &::-webkit-input-placeholder {
                color: fade(gray, 40%);
            }

            &:-moz-placeholder {
                color: fade(gray, 40%);
            }

            &::-moz-placeholder {
                color: fade(gray, 40%);
            }

            &:-ms-input-placeholder {
                color: fade(gray, 40%);
            }
        }

        .form-input__help-text {
            & > * {
                letter-spacing: 0.02em;
                transition: opacity 0.22s;
                opacity: 0.6;
            }

            .password-strength {
                font-style: italic;
                opacity: 0;
                transition: opacity 0.3s;

                &.password-strength--visible {
                    opacity: 1;
                }

                &.password-strength-0,
                &.password-strength-1 {
                    strong {
                        color: #93121e;
                    }
                }

                &.password-strength-2 {
                    strong {
                        color: #d1934f;
                    }
                }

                &.password-strength-3,
                &.password-strength-4 {
                    strong {
                        color: #57bd59;
                    }
                }
            }
        }

        &.form-input--error {
            .form-input__input {
                border-color: @reset-form-error;
            }
        }
    }
}

@import (optional) "reset-password-form-override.less";
