﻿.edit-seo-section-component {
    .page-textbox {
        .valid, .invalid {
            position: absolute;
            bottom: 10px;
            right: 0;
            color: green;
        }

        .invalid {
            color: red
        }
    }

    .form-group {
        .title-counter, .description-counter {
            float: right;
            color: rgba(0,0,0,0.6);
            font-size: 0.9em;
        }
    }
}
