﻿.nested-input-component {
    display: block;
    border-left: solid 2px #e9ebee !important;
    position: relative;
    padding-bottom: 20px;

    .input-marker {
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #337ab7;
        border-radius: 3px;
        top: 2px;
        left: -4px;
    }

    .input-sub-parent {
        float: left;
        margin-left: 17px;
        width: ~"calc(100% - 19px)";
        margin-bottom: 0;
    }
}
