﻿.radio-component {

    span {

        &.pre-input {
            font-size: 11px;
            color: #337ab7;
            display: block;
        }

        &.post-input {
            display: inline-block;
            margin-top: 5px;
            margin-left: 10px;
            cursor: pointer;
        }
    }

    input {
        position: relative;
        margin: 5px 0 0;
        left: -5000px;
        outline: none !important;


        &:before {
            content: "";
            display: block;
            position: absolute;
            border: solid 2px #e9ebee;
            border-radius: 8px;
            width: 15px;
            height: 15px;
            top: 0px;
            left: 5000px;
            cursor: pointer;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            background-color: #337ab7;
            border-radius: 10px;
            width: 7px;
            height: 7px;
            top: 4px;
            left: 5004px;
            transform: scale(0,0);
            transition: transform 0.35s;
            cursor: pointer;
        }

        &:checked {
            &:after {
                transform: scale(1,1);
            }
        }
    }
}
