﻿.cart-errors {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-position: inside;

        li {
            color: red;
            line-height: 1.5;
            margin-bottom: 1em;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

@import (optional) "cart-errors-override.less";

