﻿@import "variables";
@import url('mixins.less');

@import "../../Scripts/Components/Alert/alert.less";
@import "../../Scripts/Components/Checkbox/checkbox.less";
@import "../../Scripts/Components/EditCategory/edit-category.less";
@import "../../Scripts/Components/EditCart/edit-cart.less";
@import "../../Scripts/Components/EditContentSections/edit-content-sections.less";
@import "../../Scripts/Components/EditCountry/edit-country.less";
@import "../../Scripts/Components/EditEmail/edit-email.less";
@import "../../Scripts/Components/EditOrder/edit-order.less";
@import "../../Scripts/Components/EditProduct/edit-product.less";
@import "../../Scripts/Components/EditProductAttributes/edit-product-attributes.less";
@import "../../Scripts/Components/EditProductImageKits/edit-product-image-kits.less";
@import "../../Scripts/Components/EditProductStockUnits/edit-product-stock-units.less";
@import "../../Scripts/Components/EditVariant/edit-variant.less";
@import "../../Scripts/Components/EditMailingList/edit-mailing-list.less";
@import "../../Scripts/Components/AttributeList/attribute-list.less";
@import "../../Scripts/Components/FilePicker/file-picker.less";
@import "../../Scripts/Components/LocalizedKits/localized-kits.less";
@import "../../Scripts/Components/Login/login.less";
@import "../../Scripts/Components/Media/media.less";
@import "../../Scripts/Components/MultiSelect/multi-select.less";
@import "../../Scripts/Components/NestedInput/nested-input.less";
@import "../../Scripts/Components/OrderList/order-list.less";
@import "../../Scripts/Components/ProductList/productlist.less";
@import "../../Scripts/Components/Radio/radio.less";
@import "../../Scripts/Components/Register/register.less";
@import "../../Scripts/Components/Select/select.less";
@import "../../Scripts/Components/Table/table.less";
@import "../../Scripts/Components/Textbox/textbox.less";
@import "../../Scripts/Components/Textarea/textarea.less";
@import "../../Scripts/Components/Sortable/sortable.less";
@import "../../Scripts/Components/EditSeoSection/edit-seo-section.less";
@import "../../Scripts/Components/EditUser/edit-user.less";
@import "../../Scripts/Components/Tags/tags.less";
@import "../../Scripts/Components/ErrorBoundary/error-boundary.less";
@import "../../Scripts/Components/EditContentSections/ContentSectionLocalizedKitEditor/content-section-localized-kit-editor";
@import "../../Scripts/Components/SortableAutocomplete/sortable-autocomplete.less";
@import "../../Scripts/Components/VariantList/variant-list.less";
@import "../../Scripts/Components/TopLabel/top-label.less";
@import "../../Scripts/Components/MediaThumbnail/media-thumbnail.less";
@import "../../Scripts/Components/ShippingBoxList/shipping-box-list.less";
@import "../../Scripts/Components/MailingList/mailing-list.less";

@import "../../../../Scripts/sumoReact/Button/button.less";
@import "../../../../Scripts/sumoReact/Autocomplete/autocomplete.less";
@import "../../../../Scripts/sumoReact/LoginForm/login-form.less";
@import "../../../../Scripts/sumoReact/RegisterForm/register-form.less";
@import "../../../../Scripts/sumoReact/FormResponse/form-response.less";

// ---------------------------------------------------------
// SHARED
// ---------------------------------------------------------

[v-cloak] {
    display: none;
}

* {
    outline: none !important;

    &:focus {
        outline: none !important;
    }
}

a,
.btn-link {
    transition: .3s;
    cursor: pointer;

    * {
        cursor: pointer;
    }

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

button {
    transition: .3s;
}

input[type="checkbox"] {
    cursor: pointer;
}

.checkbox-ui {
    position: relative;
    margin: 5px 0 0;
    left: -5000px;
    outline: none !important;


    &:before {
        content: "";
        display: block;
        position: absolute;
        border: solid 2px #e9ebee;
        border-radius: 3px;
        width: 15px;
        height: 15px;
        top: 0px;
        left: 5000px;
        cursor: pointer;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: #337ab7;
        border-radius: 10px;
        width: 7px;
        height: 7px;
        top: 4px;
        left: 5004px;
        transform: scale(0,0);
        transition: transform 0.35s;
        cursor: pointer;
    }

    &:checked {
        &:after {
            transform: scale(1,1);
        }
    }
}

img {
    max-width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgray;
}

::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
}

:-ms-input-placeholder { /* IE 10+ */
    color: lightgray;
}

:-moz-placeholder { /* Firefox 18- */
    color: lightgray;
}

.loading {
    display: table;
    margin: 60px auto;
}

.empty-list-message {
    td {
        font-size: 18px;
        color: #ccc;
        background-color: white;
        padding: 30px !important;
        border-bottom: 1px solid @admin-border-color !important;
        cursor: default;

        &:hover {
            background-color: white !important;
        }
    }
}

// ---------------------------------------------------------
// BOOSTRAP OVERRIDE
// ---------------------------------------------------------

.dropdown {
    padding: 0 !important;

    & > .btn {
        width: 100%;
    }
}

.input-group {
    .input-group-addon {
        background-color: whitesmoke;
        border-color: @admin-border-color;

        label {
            margin-bottom: 0;
        }
    }
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    box-shadow: none;
    border-color: @admin-border-color;
}

label {
    font-weight: normal;
    margin: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.nav-tabs {
    display: flex;
}

.tab-content {
    padding: 20px 20px 20px;
    border: 1px solid @admin-border-color;
    border-top: none;
}

.modal {
    &.fade {
        display: block !important;
        visibility: hidden !important;

        &.in {
            visibility: visible !important;
        }
    }
}

.modal-dialog {
    transform: unset !important;
}

.modal-content {
    box-shadow: none;

    .modal-header {
        background-color: whitesmoke;
        border-radius: 5px 5px 0 0;
    }

    .modal-body {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.btn-default {
    border-color: @admin-border-color;
}

.table {
    thead {
        tr {
            th {
                padding: 12px;
                vertical-align: middle;
                font-weight: normal;
                font-size: 12px;
                color: #337ab7;
                border-bottom: 3px solid #e9ebee;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 12px;
                vertical-align: middle;

                .btn-xs {
                    margin: 0 5px;
                    display: inline-block;
                }
            }
        }
    }
}

.tooltip {
    .tooltip-inner {
        text-align: left;
        padding: 0.5em 1em;
    }
}

.tooltip-component {
    display: inline-block;
    margin: 0 0.3em;
    color: gainsboro;

    &:hover {
        color: inherit;
    }
}

.disabled,
*[disabled] {
    cursor: not-allowed !important;
    opacity: 0.6;

    * {
        pointer-events: none;
    }

    & + .selectize-control {
        cursor: not-allowed;

        .selectize-input {
            pointer-events: none;
        }
    }
}

// ---------------------------------------------------------
// TABLE RESPONSIVE
// ---------------------------------------------------------
.table-responsive {
    thead {
        display: none;
    }

    tr {
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid gainsboro;
    }

    td {
        display: block;
        width: 100%;
        text-align: center;
        border: none !important;
        padding: 2px;
    }
}

@media (max-width: 992px) {
    .table.table-responsive-md {
        .table-responsive;
    }
}

@media (max-width: 768px) {
    .table.table-responsive-sm {
        .table-responsive;
    }
}

.display-table {
    display: table;
    width: 100%;

    .display-table-row {
        display: table-row;

        .display-table-cell {
            display: table-cell;
        }
    }
}

// ---------------------------------------------------------
/* LAYOUT */
// ---------------------------------------------------------

.admin-body {
    background-color: @admin-bg-color;
    font-family: 'Roboto', sans-serif;
}

.admin-sidebar {
    z-index: 10;
    width: @sidebar-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: @sidebar-bg-color;
    color: white;

    @media (max-width:@mobile-menu-breaking-point) {
        display: none;
    }

    .logo {
        display: block;
        height: @admin-top-bar-height;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        background-color: #337ab7;
    }

    .links {
        margin-top: 30px;

        a {
            position: relative;
            color: #CFCFCF;
            text-decoration: none;
            padding-left: 30px;
            display: block;
            font-size: 16px;
            font-weight: 300;
            line-height: 44px;
            letter-spacing: 0.4px;

            &:hover,
            &:focus {
                background-color: rgba(85, 105, 107, 0.5);
                color: white;
            }

            &.active {
                color: white;
                font-weight: 400;

                .glyphicon,
                .fa {
                    opacity: 1;
                }

                .fa.fa-caret-left {
                    opacity: 1;
                    width: auto;
                }
            }

            .glyphicon,
            .fa {
                font-size: 18px;
                margin-right: 10px;
                opacity: .5;
                width: 20px;
                text-align: center;
            }

            .fa.fa-caret-left {
                opacity: 0;
                position: absolute;
                top: 7px;
                right: 0;
                margin-right: -2px;
                color: @admin-bg-color;
                font-size: 32px;
            }
        }

        .dropdown {

            &.open a:first-child {
                background-color: rgba(85, 105, 107, 0.5);

                .fa.fa-caret-left {
                    opacity: 0;
                }
            }

            .dropdown-menu {
                padding: 0;
                top: -2px;
                left: @sidebar-width;
                background-color: @sidebar-bg-color;
                box-shadow: none;
                border: none;
                border-radius: 0;
            }
        }
    }

    .logout-link {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #2e2e2e;
        color: gray;

        &:hover {
            color: white;
        }
    }
}

.admin-content-area {
    margin-right: auto;
    margin-left: @sidebar-width;
    padding: @admin-content-area-padding;
    padding-top: @admin-top-bar-height + @admin-content-area-padding;

    @media(max-width: @mobile-menu-breaking-point) {
        margin: 0;
        padding: 20px 15px;
    }

    .admin-top-bar {
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: @admin-top-bar-height;
        background-color: #fafafa;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.13);
        padding: 23px 3%;
        display: table;
        width: 100%;

        @media(max-width: @mobile-menu-breaking-point) {
            position: relative;
            margin-bottom: 30px;
            left: auto;
            height: auto;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        }

        .admin-top-bar-title {
            font-size: 22px;
            cursor: default;
            display: table-cell;
            vertical-align: middle;
            padding-left: @sidebar-width;

            @media(max-width:@mobile-menu-breaking-point) {
                display: block;
                text-align: center;
                margin-bottom: 20px;
                padding: 0;
            }
        }

        .admin-top-bar-controls {
            display: table-cell;
            text-align: right;
            white-space: nowrap;

            @media(max-width:@mobile-menu-breaking-point) {
                display: block;
            }

            & > *,
            & form input {
                display: inline-table;
                vertical-align: middle;
                margin-left: 20px;
                height: 34px;
                width: auto;

                @media(max-width:@mobile-menu-breaking-point) {
                    width: 100%;
                    display: block;
                    margin: 15px 0;
                    max-width: none;
                }

                i {
                    margin-right: 8px;
                }
            }

            & > .input-group, & > .btn-group {
                @media(max-width:@mobile-menu-breaking-point) {
                    display: table;
                }

                > * {
                    @media(max-width:@mobile-menu-breaking-point) {
                        display: table-cell;
                    }
                }

                > .btn {
                    @media(max-width:@mobile-menu-breaking-point) {
                        float: none;
                    }
                }
            }
        }
    }

    .admin-subsection {
        position: relative;
        background-color: white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        padding: 36px 40px;
        margin-bottom: @admin-content-area-padding;

        .admin-subsection-title {
            font-size: 20px;
            margin-bottom: 26px;
        }

        .admin-subsection-controls {
            position: absolute;
            top: 40px;
            right: 40px;

            .btn-link {
                padding: 0;
                margin-left: 20px;

                i {
                    margin-right: 4px;
                }
            }
        }

        .panel {
            box-shadow: none;

            textarea {
                border: none;
            }
        }
    }
}

// ---------------------------------------------------------
/* MENU MOBILE */
// ---------------------------------------------------------

.menu-mobile {
    background-color: @sidebar-bg-color;
    padding: 10px 20px;
    min-height: 55px;

    @media (min-width:@mobile-menu-breaking-point) {
        display: none;
    }

    .logo {

        img {
            height: 34px;
        }
    }

    .btn-menu-mobile {
        float: right;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .mobile-links-wrapper {
        margin-top: 30px;

        .links {
            a {
                display: block;
                color: gray;
                font-size: 18px;
                line-height: 2;

                .fa,
                .glyphicon {
                    width: 24px;
                }

                .fa-caret-left {
                    display: none;
                }
            }
        }
    }
}

// ---------------------------------------------------------
/* CKEDITOR */
// ---------------------------------------------------------

.cke {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-color: #ccc !important;
    overflow: hidden;

    .cke_top {
        background-color: whitesmoke !important;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-image: none;
        border-color: #ccc;
    }

    .cke_toolgroup,
    .cke_combo_button {
        background-image: none;
        background-color: white;
    }

    .cke_source {
        white-space: pre-wrap !important;
        padding: 1em;
    }
}

.editPost {
    display: none;
}

// ---------------------------------------------------------
/* blockquote */
// ---------------------------------------------------------

blockquote {
    margin: 0 0 40px 0;
    padding: 0 0 0 20px;

    .row {
        &:last-of-type {
            .input-group {
                margin: 0;
            }
        }
    }
}

// ---------------------------------------------------------
// READ-ONLY ELEMENTS
// ---------------------------------------------------------

input:read-only, textarea:read-only {
    cursor: not-allowed;
}

// ---------------------------------------------------------
// SORTABLE (USEFUL DURING DRAGGING)
// ---------------------------------------------------------

.dd-item {
    font-size: 14px;

    & > button {
        font-size: 14px;
        margin: 12px 0;
    }

    .dd-handle {
        height: unset;
        color: #333333;
        font-weight: 400;
        padding: 12px 12px 12px 1.8em;
        margin: 0;
        line-height: 1.42857143;
    }
}

// ---------------------------------------------------------
// AUTOCOMPLETE OVERRIDE
// ---------------------------------------------------------

.autocomplete {

    .input-wrapper {
        input {
            padding-left: 0;
            padding-right: 1.5em;
            border: none;
            border-bottom: solid 2px #e9ebee !important;
            transition: border-bottom .45s;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            &:focus {
                border-bottom: solid 2px #337ab7 !important;
            }
        }
    }

    .options-dropdown-wrapper {
        .options-dropdown {
            margin-top: 2px;
        }
    }
}

// ---------------------------------------------------------
// SETTING
// ---------------------------------------------------------

.setting-component {
    .cache {
        .btn-default {
            margin-top: 1em;
            width: 100%;
        }
    }
}

// ---------------------------------------------------------
// INPUT ERRORS
// ---------------------------------------------------------

.error-message {
    margin-top: .3em;
    color: #a62124;
    font-size: .8em;
    animation: error-message-animation .45s;
}

@keyframes error-message-animation {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}