﻿.transform(@t) {
    -webkit-transform: @t;
    -moz-transform: @t;
    -ms-transform: @t;
    -o-transform: @t;
    transform: @t;
}

.position-absolute-vertical-align(){
    position: absolute;
    top: 50%;
    .transform(translate(0,-50%));
}

.position-absolute-horizontal-align(){
    position: absolute;
    left: 50%;
    .transform(translate(-50%,0));
}

.position-absolute-vertical-and-horizontal-align(){
    position: absolute;
    top: 50%;
    left: 50%;
    .transform(translate(-50%,-50%));
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column(@col, @gap) {
    column-count: @col;
    -webkit-column-count: @col;
    -moz-column-count: @col;
    column-gap: @gap;
    -webkit-column-gap: @gap;
    -moz-column-gap: @gap;
}