﻿@admin-bg-color: whitesmoke;
@admin-border-color: #ddd;
@admin-top-bar-height: 80px;
@admin-content-area-padding: 30px;
@sidebar-width: 190px;
@sidebar-bg-color: #222;
@mobile-menu-breaking-point: 1135px;