﻿.textarea-component {
    position: relative;

    textarea {
        width: 100%;
        resize: none;
        border: none;
        border-bottom: solid 2px #e9ebee !important;
        transition: border-bottom 0.45s;
        display: block;
        outline: none !important;
        margin: 5px 0 0;
        padding: 0 0 5px 0;

        &:focus {
            border-bottom: solid 2px #337ab7 !important;
        }

        &::-webkit-scrollbar {
            height: 7px;
            width: 7px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-track {
            background-color: fade(#4c4c4c, 20%);
        }

        &::-webkit-scrollbar-thumb {
            background-color: #4c4c4c;
            border-radius: 5px;
        }
    }

    .textarea-addon {
        position: absolute;
        bottom: 2.5px;
        right: 0;
        background: none;
        background-color: #fff;
        border: none;
        transition: background-color 0.25s;
        font-size: 1.2em;

        &:hover {
            background-color: #e9ebee;
        }
    }
}
