﻿.cart-summary {
    table {
        width: 100%;

        tr {
            td {
                vertical-align: middle;

                &.row-description {
                    padding: 0.5em 0;
                }

                &.row-content {
                    text-align: right;
                    white-space: nowrap;

                    input {
                        vertical-align: middle;
                        padding-left: 0.7em;
                        padding-right: 0.7em;
                    }

                    .apply-coupon-button,
                    .apply-credit-button {
                        vertical-align: middle;
                        padding-left: 0.8em;
                        padding-right: 0.8em;
                    }

                    .remove-coupon-button,
                    .remove-credit-button {
                        vertical-align: middle;
                        margin: 0 1em;
                    }
                }
            }
        }
    }
}

@import (optional) "cart-summary-override.less";
