﻿@using SumoSoft.Cms.Mvc.Extensions

@*
	-------------------------------------------------------------------
	THIS VIEW IS PART OF THE SUMOSOFT CMS. DO NOT CHANGE THE CODE BELOW.
	To override this View, create another View with the same name followed
	by the suffix ".Override.cshtml"
	-------------------------------------------------------------------
*@

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Administration</title>
    <meta name="description" content="" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Mono" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Content/flags/flag-icon.min.css" rel="stylesheet" />
    <link href="@Html.AppendVersionToFile("/Areas/Admin/Scripts/bundles/admin.css")" rel="stylesheet" />

    @Html.TryPartial("Css_Custom")
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
</head>
<body class="admin-body">

    @Html.Partial("Sidebar")

    @Html.Partial("MenuMobile")

    <div class="admin-content-area">

        @RenderBody()

    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
    <script src="/Areas/Admin/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <script src="/Areas/Admin/Scripts/ckeditor/ckeditor.js"></script>
    <script src="/Areas/Admin/Scripts/ckeditor/adapters/jquery.js"></script>
    <script async src="@Html.AppendVersionToFile("/Areas/Admin/Scripts/bundles/admin.bundle.js")"></script>

    @Html.TryPartial("Scripts_Custom")

    @RenderSection("scripts", required: false)

</body>
</html>