﻿@using SumoSoft.Cms.Mvc.Extensions
@*
    -------------------------------------------------------------------
    THIS VIEW IS PART OF THE SUMOSOFT CMS. DO NOT CHANGE THE CODE BELOW.
    To override this View, create another View with the same name followed
    by the suffix ".Override.cshtml"
    -------------------------------------------------------------------
*@

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var user = Html.GetAuthenticatedUser() ?? new User();
    user.Role = user.Role.AsNotNull();
    var ecommerceControllerUrls = new[] { "order", "product", "variant", "shippingbox", "category", "coupon", "cart" };
}

    <div class="links">
        <a href="@Url.Action("Index", "Notification")" class="@(controller == "notification" ? "active" : "")">
            <span class="glyphicon glyphicon-dashboard"></span>
            Notifications
            <i class="fa fa-caret-left"></i>
        </a>
        @if (user.Role.AccessAdminEcommerce)
        {
            <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="@(ecommerceControllerUrls.Any(url => controller.Contains(url)) ? "active" : "")">
                    <i class="fa fa-usd"></i>
                    Ecommerce
                    <i class="fa fa-caret-left"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    @if (user.Role.AccessAdminOrders)
                    {
                        <li role="presentation">
                            <a href="@Url.Action("Index", "Order")">
                                Orders
                            </a>
                        </li>
                    }
                    <li role="presentation">
                        <a href="@Url.Action("Index", "Product")">
                            Products
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("Index", "Variant")">
                            Variants
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("Index", "ShippingBox")">
                            Shipping
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("Index", "Category")">
                            Categories
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("Index", "Coupon")">
                            Coupons
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("Index", "Cart")">
                            Carts
                        </a>
                    </li>
                </ul>
            </div>
        }
        @if (user.Role.AccessAdminBlog)
        {
            <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="@(controller.Contains("posts") ? "active" : "")">
                    <span class="glyphicon glyphicon-edit"></span>
                    Blog
                    <i class="fa fa-caret-left"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a href="@Url.Action("Index", "Posts")">
                            Posts
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("Index", "BlogCategory")">
                            Categories
                        </a>
                    </li>
                </ul>
            </div>
        }
        @if (user.Role.AccessAdminMedia)
        {
            <a href="@Url.Action("Index", "Media")" class="@(controller == "media" ? "active" : "")">
                <span class="glyphicon glyphicon-picture"></span>
                Media
                <i class="fa fa-caret-left"></i>
            </a>
        }
        @if (user.Role.AccessAdminContent)
        {
            <a href="@Url.Action("Index","ContentSection")" class="@(controller == "contentsection" ? "active" : "")">
                <i class="fa fa-file-text-o"></i>
                Content
                <i class="fa fa-caret-left"></i>
            </a>
        }
        @if (user.Role.AccessAdminEcommerce)
        {
            <a href="@Url.Action("Index", "Attribute")">
                <i class="fa fa-tag"></i>
                Attributes
            </a>
        }
        @if (user.Role.AccessAdminEmails)
        {
            <div class="dropdown">
                <a href="@Url.Action("Index","Email")" class="@(controller == "email" ? "active" : "")">
                    <i class="fa fa-envelope-o"></i>
                    Emails
                    <i class="fa fa-caret-left"></i>
                </a>
            </div>
        }
        @if (user.Role.AccessAdminSeo)
        {
            <a href="@Url.Action("Index","Seo")" class="@(controller == "seo" ? "active" : "")">
                <span class="fa fa-at"></span>
                SEO
                <i class="fa fa-caret-left"></i>
            </a>
        }
        @if (user.Role.AccessAdminUsers)
        {
            <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="@(controller == "user" || controller == "mailinglist"  ? "active" : "")">
                    <span class="glyphicon glyphicon-user"></span>
                    Users
                    <i class="fa fa-caret-left"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a href="@Url.Action("Index", "User")">
                            User list
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("Roles", "User")">
                            User roles
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("Index", "MailingList")">
                            Mailing lists
                        </a>
                    </li>
                </ul>
            </div>
        }
        @if (user.Role.AccessAdminCountries)
        {
            <a href="@Url.Action("Index","Country")" class="@(controller == "country" ? "active" : "")">
                <span class="fa fa-globe"></span>
                Countries
                <i class="fa fa-caret-left"></i>
            </a>
        }
        @if (user.Role.AccessAdminSettings)
        {
            <a href="@Url.Action("Index","Setting")" class="@(controller == "setting" ? "active" : "")">
                <span class="glyphicon glyphicon-cog"></span>
                Settings
                <i class="fa fa-caret-left"></i>
            </a>
        }
        @Html.TryPartial("MenuLinks_Custom")
    </div>
