﻿@*
	-------------------------------------------------------------------
	THIS VIEW IS PART OF THE SUMOSOFT CMS. DO NOT CHANGE THE CODE BELOW.
	To override this View, create another View with the same name followed
	by the suffix ".Override.cshtml"
	-------------------------------------------------------------------
*@

<div class="menu-mobile">
	<a href="/" class="logo">
		<img src="@Html.GetAppSetting("AdminLogo")" alt=""/>
	</a>
	<button type="button" class="btn btn-default btn-menu-mobile" data-toggle="collapse" data-target="#mobile-links">
		<span class="fa fa-navicon"></span>
	</button>
	<div id="mobile-links" class="collapse">
		<div class="mobile-links-wrapper">
			@Html.Partial("MenuLinks")
		</div>
	</div>
</div>

