﻿@*
    -------------------------------------------------------------------
    THIS VIEW IS PART OF THE SUMOSOFT CMS. DO NOT CHANGE THE CODE BELOW.
    To override this View, create another View with the same name followed
    by the suffix ".Override.cshtml"
    -------------------------------------------------------------------
*@

<div class="admin-sidebar">
    <a href="/" class="logo" style="background-image:url(@Html.GetAppSetting("AdminLogo"))"></a>
    @Html.Partial("MenuLinks")
	<a class="logout-link" href="@Url.Action("Logout", "Account")">
		<i class="fa fa-sign-out" aria-hidden="true"></i>
		Sign out
	</a>
</div>