﻿.select-component {
    position: relative;

    .selectize-input {
        padding-left: 0 !important;
        min-height: 32px;

        &.full .item {
            margin: 0 6px 0px 0 !important;
        }

        &.not-full .item {
            margin: 0 6px 6px 0 !important;
        }

        &:after {
            right: 10px !important;
        }
    }

    &.no-bottom-margin {
        margin-bottom: 0;

        i {
            display: none;
        }

        select {
            padding: 2px 0;
            -webkit-appearance: menulist-button;
            -moz-appearance: menulist-button;
            appearance: menulist-button;
        }
    }

    i {
        position: absolute;
        bottom: 8px;
        right: 10px;
        color: dimgrey;
        font-size: 1.15em;
        cursor: pointer;
        color: black;
    }


    select {
        width: 100%;
        display: block;
        border: none;
        background-color: rgba(0,0,0,0);
        border-bottom: solid 2px #e9ebee !important;
        transition: border-bottom .45s;
        display: block;
        outline: none !important;
        margin: 5px 0 0;
        padding: 0 0 5px 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        &:focus {
            border-bottom: solid 2px #337ab7 !important;
            outline: none;
        }
    }

    .selectize-input {
        width: 100%;
        display: block;
        border: none;
        border-radius: 0;
        border-bottom: solid 2px #e9ebee !important;
        transition: border-bottom .45s;
        display: block;
        outline: none !important;
        padding: 5px 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none !important;

        &.focus {
            border-bottom: solid 2px #337ab7 !important;
            outline: none;
        }
    }

    .selectize-dropdown {
        border-radius: 0;
    }
}