﻿.autocomplete {
    position: relative;

    &.dropdown-open {
        .options-dropdown-wrapper {
            .options-dropdown {
                display: block;
            }
        }
    }

    .input-wrapper {
        position: relative;

        input {
            width: 100%;
            display: block;
            padding: 5px;
        }

        .autocomplete-caret {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: black;
            font-size: 1.15em;
        }
    }

    .options-dropdown-wrapper {
        position: relative;

        .options-dropdown {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            max-height: 210px;
            max-height: 35vh;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: white;
            border: 1px solid fade(#000, 15%);
            box-shadow: 0 6px 12px fade(#000, 17.5%);

            .option {
                cursor: pointer;
                padding: 3px 12px;

                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
}

@import (optional) "autocomplete-override.less";
