﻿.sortable-autocomplete-component {

    .delete-option {
        opacity: 0;
    }

    .sortable-component {
        .dd {
            .dd-list {
                .dd-item {
                    .dd-handle {
                        padding: 12px 12px 12px 0;

                        .display-table-cell:nth-of-type(2) {
                            text-align: right;
                        }

                        .delete-option {
                            opacity: 0;
                            border: none;
                            background-color: transparent;
                            outline: none;
                            padding: 0;
                        }

                        &:hover {
                            .delete-option {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .autocomplete {
        .input-wrapper {
            input {
                padding: 1em 1.5em 1em 0
            }

            .autocomplete-caret {
                display: none;
            }
        }

        &.dropdown-open {
            .options-dropdown-wrapper {
                .options-dropdown {
                    z-index: 2;
                }
            }
        }
    }
}
