﻿.media-component {

    .admin-top-bar-controls {

        .caret {
            margin-left: 5px;
        }

        .file-upload-form {
            position: relative;

            input {
                max-width: 17em;
            }

            .file-upload-spinner {
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                bottom: auto;
            }
        }
    }

    .admin-subsection {
        min-height: 160px;

        .local-path {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .table {

            thead {
                th {
                    label {
                        cursor: pointer;

                        input {
                            margin: 0;
                            vertical-align: middle;
                        }
                    }
                }
            }

            tbody {

                td {

                    &:nth-of-type(2) {
                        width: 40%;
                        word-break: break-word;
                        padding-right: 5%;
                    }
                }
            }

            .select-all {
                margin-right: 5px;
            }

            img {
                max-width: 80px;
            }

            .caret {
                margin-left: 5px;
            }
        }
    }

    .button-submit-component + .btn {
        margin-left: 5px;
    }

    .disabled {
        cursor: not-allowed;
    }
}
