﻿.localized-kits-component {
    .panel {
        position: relative;
        border-radius: 0;
        border: none;
        box-shadow: none;

        .options {
            position: absolute;
            top: 6px;
            right: 6px;

            .dropdown-toggle {
                width: 2em;
                height: 2em;
                color: gray;
                background-color: rgba(0, 0, 0, 0.0);
                border: none;
                border-radius: 100%;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .panel-heading {
            box-shadow: none;
            border-radius: 0;
            position: relative;
            cursor: pointer;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 5px;
                height: 100%;
                background-color: #e9ebee;
                transition: background-color, .35s;
            }
            /*&:after {
                font-family: FontAwesome;
                content: "\f054";
                font-size: 12px;
                display: block;
                position: absolute;
                top: 13px;
                right: 8px;
                color: dimgrey;
                transition: transform .35s, right .35s;
            }*/
            &.expanded {

                &:before {
                    background-color: #337ab7;
                }

                &:after {
                    transform: rotate(90deg);
                    right: 10px;
                }
            }

            .copying-icon {
                margin-right: .4em;
            }

            .panel-title {
                font-size: 14px;
            }

            .alert-copied {
                margin-left: .5em;
                color: #337ab7;
                display: none;
            }
        }

        .panel-body {
            border: none !important;
            border-top: none;
            box-shadow: none;
        }
    }
}
