﻿.edit-content-sections-component {
    .table-wrapper {
        overflow-x: visible;
        overflow-y: visible;
        padding: 1px;

        table {
            width: 100%;
            table-layout: fixed;

            thead {
                tr {
                    th {
                        white-space: nowrap;
                        border-right: 1px solid gainsboro;
                        padding: 1em 0.5em;

                        &:last-of-type {
                            border-right: none;
                        }

                        &.string-name {
                            width: 24em;
                            padding-left: 0;
                        }


                        &.remove {
                            width: 4em;
                        }
                    }
                }
            }

            tbody {
                tr {
                    border-top: 1px solid gainsboro;

                    td {
                        vertical-align: top;
                        border-right: 1px solid gainsboro;
                        transition: 0.3s;
                        position: relative;
                        cursor: pointer;

                        &:hover {
                            background-color: whitesmoke;
                        }

                        &:last-of-type {
                            border: none;
                        }

                        &[readonly] {
                            background-color: whitesmoke;
                            cursor: default;

                            textarea {
                                cursor: default !important;
                            }
                        }

                        input,
                        textarea {
                            font-family: "Roboto Mono", monospace;
                            background-color: transparent;
                            display: block;
                            width: 100%;
                            border: none;
                            transition: 0.3s;
                            cursor: pointer;

                            &:focus {
                                outline: none;
                            }
                        }

                        textarea {
                            padding: 2px 6px;
                            resize: none;
                            overflow: hidden;

                            &:focus {
                                background-color: whitesmoke;
                            }

                            &.no-wrap {
                                white-space: nowrap;
                                overflow-x: scroll;

                                &::-webkit-scrollbar {
                                    height: 10px;
                                    background-color: transparent;
                                }

                                &::-webkit-scrollbar-track {
                                    background-color: transparent;
                                    border-top: 1px solid whitesmoke;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: transparent;
                                    border-radius: 5px;
                                }

                                &:hover {
                                    &::-webkit-scrollbar-track {
                                        background-color: fade(#4c4c4c, 20%);
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        background-color: #4c4c4c;
                                    }
                                }
                            }
                        }

                        &.string-name {
                            vertical-align: top;
                            overflow: hidden;
                            padding: 0.5em 0;
                        }

                        &.string-content {
                            padding: 0.5em 0 0.5em 0.5em;

                            .string-content-text {
                                word-break: break-all;
                                white-space: pre-wrap;
                                max-height: 10em;
                                overflow: hidden;
                            }
                        }

                        &.remove {
                            padding: 0.5em 0 0.5em 0.5em;

                            &:hover {
                                background: none;
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }

    #markdown-cheatsheet-modal {
        .inner-header {
            margin-top: 0;
            margin-bottom: 1em;
        }

        pre {
            margin-bottom: 2em;
            overflow-y: hidden;
        }
    }

    #content-history-modal {
        .modal-dialog {
            @media (min-width: 768px) {
                width: 70%;
                max-width: 995px;
            }
        }

        .modal-body {
            min-height: 150px;
        }

        table {
            width: 100%;
            table-layout: fixed;

            tbody {
                tr {
                    td {
                        padding: 1em 0;
                        border-bottom: solid 1px #e9ebee;
                        vertical-align: top;

                        textarea {
                            display: block;
                            background: transparent;
                            resize: none;
                            border: none;
                            width: 100%;
                            margin-right: 1em;
                            overflow: hidden;
                            transition: all 0.3s;
                        }

                        &.content {
                            padding-right: 1em;
                            word-break: break-word;
                            white-space: pre-line;
                        }

                        &.options {
                            text-align: right;
                            width: 6em;
                        }
                    }
                }
            }
        }
    }

    #edit-content {
        .modal-dialog {
            @media (min-width: 768px) {
                width: 70%;
                max-width: 995px;
            }
        }

        .show-history {
            float: left;
        }
    }

    .dropdown {
        .dropdown-menu {
            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-track {
                background-color: fade(#4c4c4c, 20%);
            }

            &::-webkit-scrollbar-thumb {
                background-color: #4c4c4c;
                border-radius: 5px;
            }
        }

        .btn {
            width: auto;
        }

        &.more {
            li {
                & > a {
                    padding: 6px 20px;

                    .icon {
                        display: inline-block;
                        opacity: 0.65;
                    }
                }
            }
        }
    }
}
