﻿.variant-option-title-selector {
    span {
        padding: .65em .9em;
        text-align: center;
        margin-right: .8em;
        margin-bottom: .8em;
        display: inline-block;
        border: solid 2px transparent;
        cursor: pointer;

        &.selected, &:hover {
            border-color: fade(gray, 40%);
        }

        &.not-available {
            opacity: .5;
        }
    }
}

@import (optional) "variant-option-title-selector-override.less";
