﻿.media-thumbnail {
    background-color: whitesmoke;
    width: 100px;
    display: inline-block;

    .image {
        padding-top: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
