﻿.register-component {
    padding: 8% 20px;
    background-color: whitesmoke;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;

    .form-container {
        background-color: white;
        padding: 30px 40px;
        width: 100%;
        max-width: 460px;
        margin: 0 auto;
        border-radius: 0.6em;
        box-shadow: 0 20px 30px 0px rgba(0, 0, 0, 0.05);

        h1 {
            text-align: center;
            font-size: 24px;
            letter-spacing: 0.02em !important;
            color: gray;
            letter-spacing: 1px;
            margin-bottom: 50px;
        }

        .register-form {
            font-size: 1.29rem;

            .form__button {
                width: 100%;
                border: none;
                background-color: #4c4c4c;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                padding: 1.05em 2em;
                transition: all 0.3s;

                &:hover {
                    background-color: darken(#4c4c4c, 10%);
                }
            }
        }

        .register-form .form__secondary-action a {
            text-decoration: none;
            letter-spacing: 0.02em;
        }
    }
}
