﻿.shipping-box {
    display: list-item;
    margin-bottom: 1em;

    &:last-of-type {
        margin-bottom: 0;
    }

    .shipping-box-title {
       font-weight: bolder;
    }

    .shipping-box-price {
        display: inline-block;
    }

    .shipping-box-free-shipping-minimum-price {
        display: inline-block;
        margin-left: 0.4em;
    }

    .delivey-time {
    }

    .shipping-box-countries {
    }
}

@import (optional) "shipping-box-override.less";
