﻿.stock-warning-component {

    .out-of-stock-message {
    }

    .pre-order-message {
    }

    .coming-soon-message {
    }

    .ships-in-message {
    }
}

@import (optional) "stock-warning-override.less";
