﻿@import "../../../Content/css/mixins.less";
@import "../../../Content/css/variables.less";

.error-boundary-component {
    background-color: white;
    bottom: 0;
    left: @sidebar-width;
    padding: @admin-content-area-padding;
    position: fixed;
    right: 0;
    top: 0;

    .title {
        border-bottom: solid 1px fade(black, 80%);
        color: #bb565f;
        font-size: 2.5em;
        margin-bottom: .3em;
        padding-bottom: .5em;
    }

    .subtitle {
        font-style: italic;
        font-weight: bold;
        margin-bottom: 3em;
        opacity: .7;
    }

    .error-stack-trace {
        background-color: #FFFFCC;
        border: solid 1px fade(black, 30%);
        border-radius: .2em;
        font-family: monospace;
        line-height: 2;
        padding: @admin-content-area-padding;
    }
}
