﻿@forgot-form-error: #93121e;

.forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .form-step {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        animation: animate-step-in 0.45s forwards;
    }

    .form-subtext {
        margin-bottom: 2em;

        @media (max-width: 992px) {
            text-align: center;
        }
    }

    .form-inputs {
        margin-bottom: 1.2em;
        width: 100%;
    }

    .form-input {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 2em;
        align-items: flex-start;

        .form-input__label {
            margin-bottom: 0.3em;
            letter-spacing: 0.02em;
        }

        .form-input__input {
            width: 100%;
            padding: 0.55em 0.5em;
            border: solid fade(gray, 20%) 1.5px;
            border-radius: 0.2em;
            outline: none !important;
            transition: border-color 0.3s;

            &:hover,
            &:focus {
                border-color: fade(gray, 50%);
            }

            &::-webkit-input-placeholder {
                color: fade(gray, 40%);
            }

            &:-moz-placeholder {
                color: fade(gray, 40%);
            }

            &::-moz-placeholder {
                color: fade(gray, 40%);
            }

            &:-ms-input-placeholder {
                color: fade(gray, 40%);
            }
        }

        .form-input__help-text {
            & > * {
                display: block;
                letter-spacing: 0.02em;
                transition: opacity 0.22s;
                opacity: 0.6;
            }
        }

        &.form-input--error {
            .form-input__input {
                border-color: @forgot-form-error;
            }
        }
    }

    .form__secondary-action {
        margin-top: 1em;
        letter-spacing: 0.02em;
    }

    .form-confirmation {
        margin-bottom: 2em;
    }
}

@keyframes animate-step-in {
    0% {
        opacity: 0;
        transform: translateX(-0.8em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@import (optional) "forgot-password-form-override.less";
