﻿.big-radio-selector {
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        .bullet {
            .inner-bullet {
                opacity: 0.1
            }
        }
    }

    &.selected {
        .bullet {
            .inner-bullet {
                opacity: 1
            }
        }
    }

    .bullet {
        display: inline-block;
        position: relative;
        vertical-align: text-top;
        border-radius: 100%;
        box-shadow: 0 0 0 1px black;
        padding: 0.60em;
        margin-right: 1em;

        .inner-bullet {
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 100%;
            background-color: black;
            border: 0.25em solid white;
            transition: 0.3s;
        }
    }

    .content {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }
}
