﻿.multi-select-component {
    .option-title {
        font-size: .9em;
    }

    .option-subtitle {
        color: #919191;
        font-size: .8em;
    }

    .not-full > div {
        margin: 0 6px 6px 0 !important;
    }

    i {
        z-index: 1;
    }

    .ui-sortable-helper {
        white-space: nowrap !important;
        max-height: 23px !important;
    }
}
