﻿.content-section-localized-kit-editor {
    .schema-description {
        margin-bottom: 27px;
    }

    .btn-link {
        padding: 0;
    }

    .content-editor {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .list-editor {
        .empty-message {
            margin-bottom: 1.5em;
        }

        .textarea-addon {
            color: #337ab7;
        }
    }

    .table-editor {
        .table-editor-body {
            padding-bottom: 1em;
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: 7px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 5px;
                cursor: pointer;
            }

            &:hover {
                &::-webkit-scrollbar-track {
                    background-color: fade(#4c4c4c, 20%);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #4c4c4c;
                }
            }
        }

        textarea {
            display: block;
            padding: 0 0 0.5em 0.5em;
            resize: none;
            width: 100%;
            border: none;
            transition: background-color 0.22s;

            &::-webkit-scrollbar {
                width: 7px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-top: 1px solid whitesmoke;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 5px;
                cursor: pointer;
            }

            &:hover {
                &::-webkit-scrollbar-track {
                    background-color: fade(#4c4c4c, 20%);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #4c4c4c;
                }
            }
        }

        table {
            min-width: 100%;
        }

        td {
            border: solid 2px #e9ebee;
            min-width: 10em;

            &:hover {
                textarea {
                    background-color: fade(#4c4c4c, 2%);
                }
            }

            &.editing {
                textarea {
                    background-color: fade(#4c4c4c, 4%) !important;
                }
            }
        }
    }

    .editor-header {
        &:after {
            content: "";
            display: table;
            clear: both;
        }

        .editor-description {
            display: inline-block;

            label {
                font-size: 12px;
                display: block;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            .editor-name {
                color: #337ab7;
                margin: 0 0 1em;
            }

            .editor-description {
                margin: -0.6em 0 1em;
                color: #5c5c5c;
            }
        }

        .editor-controls {
            float: right;

            button {
                margin-right: 1em;

                &:last-of-type {
                    margin-right: 0;
                }
            }

            .editor-control-group {
                margin-right: 3em;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    .empty-message {
        font-size: 11px;
        opacity: 0.4;
        border: none !important;
        padding: 0 !important;
    }

    .react-contextmenu {
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        color: #373a3c;
        font-size: 16px;
        margin: 2px 0 0;
        min-width: 160px;
        outline: none;
        opacity: 0;
        padding: 5px 0;
        pointer-events: none;
        text-align: left;
        transition: opacity 250ms ease !important;
    }

    .react-contextmenu.react-contextmenu--visible {
        opacity: 1;
        pointer-events: auto;
        z-index: 9999;
    }

    .react-contextmenu-item {
        background: 0 0;
        border: 0;
        color: #373a3c;
        cursor: pointer;
        font-weight: 400;
        line-height: 1.5;
        padding: 3px 20px;
        text-align: inherit;
        white-space: nowrap;
    }

    .react-contextmenu-item.react-contextmenu-item--active,
    .react-contextmenu-item.react-contextmenu-item--selected {
        color: #fff;
        background-color: #20a0ff;
        border-color: #20a0ff;
        text-decoration: none;
    }

    .react-contextmenu-item.react-contextmenu-item--disabled,
    .react-contextmenu-item.react-contextmenu-item--disabled:hover {
        background-color: transparent;
        border-color: rgba(0,0,0,.15);
        color: #878a8c;
    }

    .react-contextmenu-item--divider {
        border-bottom: 1px solid rgba(0,0,0,.15);
        cursor: inherit;
        margin-bottom: 3px;
        padding: 2px 0;
    }

    .react-contextmenu-item--divider:hover {
        background-color: transparent;
        border-color: rgba(0,0,0,.15);
    }

    .react-contextmenu-item.react-contextmenu-submenu {
        padding: 0;
    }

    .react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
    }

    .react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
        content: "▶";
        display: inline-block;
        position: fixed;
        right: 7px;
    }

    .example-multiple-targets::after {
        content: attr(data-count);
        display: block;
    }
}
