﻿.button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0.5em 2.4em;
    border: 1px solid;

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.full-width {
        display: block;
        width: 100%;
    }

    &.confirm {
        margin-right: 2em;
    }
}

@import (optional) "button-override.less";
