﻿.edit-email-component {
    .form-group {
        button {
            margin-top: 12px;
        }

        .col-md-3 {

            button,
            a {
                margin-top: 12px;
                display: inline-block;
                width: 45%;
                margin-left: 3.33%;
                padding-left: 11px;
            }
        }

        .col-md-2 {
            button {
                width: 100%;
            }
        }
    }


    .modal-errors {
        color: #cf3939;
        margin-bottom: 1em;

        p {
            margin-bottom: 0.1em;
        }
    }
}
