﻿.shipping-box-list-component {

    .sortable-attribute-options {
        .dd-handle {
            padding-left: 12px !important;
        }

        .display-table {
            table-layout: fixed;

            .display-table-row {
                .display-table-cell {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &:nth-child(0) {
                        width: 35rem;
                    }

                    &:nth-child(1) {
                        width: 35rem;
                    }

                    &:nth-child(3) {
                        width: 10rem;
                        overflow: unset !important;
                    }
                }
            }
        }
    }
}
