﻿.tag-search-component {

    .tag() {
        display: inline-block;
        padding: 0.9em 1.1em;
        line-height: 1;
        cursor: pointer;
        transition: .3s;
        background-color: whitesmoke;
        border-radius: 0.3em;
    }

    .tag-search-bar {
        .tag {
            .tag;
            margin-right: 1em;

            .remove-tag {
                display: inline-block;
                padding-left: 0.5em;
            }
        }

        input {
            border: none;
            background-color: transparent;
            min-width: 20em;
            padding: 0.9em 0;
            line-height: 1;

            &:focus,
            &:active {
                outline: none;
            }
        }
    }

    .tag-groups {

        @media(max-width: 992px) {
            overflow-x: auto;
            white-space: nowrap;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .tag-group {
            display: inline-block;
            position: relative;

            @media(max-width: 992px) {
                position: static;
            }

            .tag-group-title {
                .tag;
                margin-right: 1em;
            }

            .tag-group-dropdown {
                white-space: normal;
                display: none;
                position: absolute;
                top: 4em;
                width: 50em;
                padding: 1em 0 0 1em;
                border: 1px solid whitesmoke;
                background-color: white;
                z-index: 99;

                @media(max-width: 992px) {
                    top: 100%;
                    left: 1em;
                    max-width: 90vw;
                }

                &.open {
                    display: block;
                }

                .tag {
                    .tag;
                    margin-right: 1em;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

@import (optional) "tag-search-override.less";
