﻿.edit-mailing-list-component {
    .file-upload-form {
        position: relative;

        input {
            max-width: 17em;
        }

        .file-upload-spinner {
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }
    }
}
