﻿.form-response-component {
    margin-bottom: 1em;

    .success,
    .errors {
        p {
            font-weight: 400;
            letter-spacing: 0.03em;
            margin-bottom: 0.1em;
        }
    }

    .success {
        color: #50a250;
    }

    .errors {
        color: #cf3939;
    }
}
