﻿.order-summary-component {
    table {
        width: 100%;

        tr {
            td {
                vertical-align: middle;

                &.row-description {
                    padding: 0.5em 0;
                }

                &.row-content {
                    text-align: right;
                    white-space: nowrap;
                }
            }
        }
    }
}

@import (optional) "order-summary-override.less";
