﻿.variant-option-image-selector {
    .options {
        .option {
            margin-right: .5em;

            .option-image-wrapper {
                width: 2.8em;
                height: 2.8em;
                padding: .19em;
                border: solid .1em transparent;
                border-radius: 1.75em;
                display: inline-block;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 2em;
                    cursor: pointer;
                }
            }

            .option-title {
                cursor: pointer;
            }

            &.selected, &:hover {
                .option-image-wrapper {
                    border-color: fade(dimgray, 40%);
                }
            }
        }
    }
}

@import (optional) "variant-option-image-selector-override.less";