﻿// ---------------------------------------------------------
/* TAGGLE */
// ---------------------------------------------------------

.tags-component {
    label {
        font-size: 11px;
        color: #337ab7;
        margin: 0;
        display: block;
    }

    .taggle-element {
        width: 100%;
        resize: none;
        margin: 5px 0 0;
        min-height: 35px;
        border: none;
        border-bottom: solid 2px #e9ebee !important;
        transition: border-bottom .45s;
        display: block;
        outline: none !important;
        padding: 0;
        position: relative;
        height: auto;

        &:focus, &.active {
            border-bottom: solid 2px #337ab7 !important;
        }

        &.tags {
            position: relative;

            * {
                box-sizing: content-box;
            }
        }

        &:before, &:after {
            content: "";
            display: table;
            clear: both;
        }

        .taggle_list {
            float: left;
            width: 100%;
            margin: 0;
            padding: 0;

            li {
                float: left;
                display: inline-block;
                white-space: nowrap;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .taggle {
                margin-right: 8px;
                line-height: 1.2;
                background: #9e9e9e;
                color: white;
                padding: 5px 12px;
                border-radius: 3px;
                position: relative;
                cursor: pointer;
                transition: all .3s;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;

                &:hover {
                    padding: 5px;
                    padding-right: 19px;
                    background: #337ab7;
                    transition: all .3s;

                    & > .close {
                        display: block;
                    }
                }

                .close {
                    font-size: 1.5rem;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    text-decoration: none;
                    line-height: 0.5;
                    color: rgba(255, 255, 255, 0.5);
                    padding-bottom: 4px;
                    display: none;
                    border: 0;
                    background: none;
                    cursor: pointer;

                    &:hover {
                        color: white;
                    }
                }
            }

            .taggle_hot {
                background: #cac8c4;
            }
        }

        .taggle_input {
            border: none;
            outline: none;
            font-size: 16px;
            font-weight: 300;
            padding: 0;
            float: left;
            margin-top: 2px;
            background: none;
            width: 100%;
            max-width: 100%;
        }

        .taggle_placeholder {
            position: absolute;
            color: #acacac;
            top: 7px;
            left: 0;
            transition: opacity, .25s;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .taggle_sizer {
            padding: 0;
            margin: 0;
            position: absolute;
            top: -500px;
            z-index: -1;
            visibility: hidden;
        }
    }
}
