﻿.mailing-list-component {
    .sortable-attribute-options {
        .dd-handle {
            padding-left: 12px !important;
        }

        .display-table {
            table-layout: fixed;

            .display-table-row {
                .display-table-cell {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &:nth-child(1) {
                        width: 15rem;
                    }

                    &:nth-child(2) {
                        width: 45rem;
                    }

                    &:nth-child(5) {
                        width: 10rem;
                        overflow: unset !important;
                    }
                }
            }
        }
    }
}
