﻿.alert-component {

    .alert-custom {
        padding-top: 0;
        border-radius: 0;

        &.fixed {
            position: fixed;
            top: @admin-top-bar-height;
            left: @sidebar-width + 30px;
            right: 30px;
            padding-top: 24px;
            padding-bottom: 21px;
            z-index: 8;
            display: block;

            @media (max-width: @mobile-menu-breaking-point) {
                display: none !important;
            }
        }

        ul {
            list-style-type: none
        }

        @media (max-width: @mobile-menu-breaking-point) {
            opacity: 1 !important;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
}
