﻿.address-selector {
    @breaking-point: 992px;
    @border-style: 1px solid #e6e6e6;

    .mobile-group-container() {
        background-color: white;
        border: @border-style;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    position: relative;

    & > div:not(.edit-modal) {
        border-bottom: @border-style;

        &:first-of-type {
            border-top: @border-style;
        }
    }

    .addresses {

        @media(max-width: @breaking-point) {
            .mobile-group-container;
        }

        .address {
            padding: 2em 0;
            border-bottom: @border-style;

            @media(max-width: @breaking-point) {
                padding: 30px;
                margin: 0;
            }

            &:last-of-type {
                border-bottom: none;
            }

            &.selected {
                .buttons {
                    display: block;
                }
            }

            .buttons {
                display: none;
                margin-top: 2em;

                .button {
                    margin-right: 1em;

                    &.proceed {
                        display: none;

                        @media(max-width: @breaking-point) {
                            display: block;
                            width: 100%;
                            margin-bottom: 4%;
                        }
                    }

                    &.edit {
                        @media(max-width: @breaking-point) {
                            width: 48%;
                            margin-right: 4%;
                        }
                    }

                    &.delete {

                        @media(max-width: @breaking-point) {
                            width: 48%;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .add-address,
    .collect-in-store {
        padding: 2em 0;
        cursor: pointer;
        line-height: 1;

        @media(max-width: @breaking-point) {
            .mobile-group-container;
            padding: 20px 30px;
        }

        .caret-right {
            font-size: 1.4em;
            vertical-align: text-bottom;
            margin-left: 0.4em;

            @media(max-width: @breaking-point) {
                float: right;
            }
        }
    }

    .edit-modal {

        @media(max-width: @breaking-point) {
            .mobile-group-container;
            padding: 30px;
        }

        .edit-modal-content {

            .edit-modal-buttons {
                margin-top: 3em;

                .button {
                    @media(max-width: @breaking-point) {
                        width: 100%;
                    }

                    &:first-of-type {
                        min-width: 10em;
                        margin-right: 1em;

                        @media(max-width: @breaking-point) {
                            margin-right: 0;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }
    }
}

@import (optional) "address-selector-override.less";
