﻿.address-form {

    .address-errors {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-position: inside;
        margin-bottom: 1em;

        li {
            color: red;
            line-height: 1.5;
            margin-bottom: 1em;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .form-line {
        margin-bottom: 1.2em;

        label {
            margin-bottom: 0.2em;
        }

        input,
        select {
            display: block;
            width: 100%;
            height: 2.8em;
            padding-left: 1em;
        }

        .error {
            color: red;
        }
    }
}
