﻿.edit-cart-component {
    .panel {
        border-radius: 0
    }

    .items-summary-table {
        tr {

            &:first-of-type {
                td {
                    border: none;
                }
            }

            &:last-of-type {

                td {
                    background-color: #f5f5f5;
                }
            }
        }
    }

    .button-submit-component + .btn {
        margin-left: 5px;
    }

    #confirm-send-email-modal {
        .modal-errors {
            font-size: 0.857em;
            color: red;
            margin-bottom: 15px;
        }
    }
}
