﻿.attribute-list-component {
    .sortable-attribute-options {
        .dd-handle {
            padding-left: 12px !important;
        }

        .display-table {
            table-layout: fixed;
            
            .display-table-row {
                .display-table-cell {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &:nth-child(1) {
                        width: 90px;
                    }

                    &:nth-child(5) {
                        width: 110px;
                    }
                }
            }
        }
    }
}
