﻿.edit-product-stock-units-component {
    @table-border-color: #e9ebee;

    .product-stock-units-table {
        border-collapse: separate;

        th {
            &.base-price-header,
            &.sale-at-price-header {
                padding-left: 1.5em;
                padding-right: 1.5em;
            }

            &.membership-sale-at-price-header {
                padding-right: 0.3em;
                padding-left: 0.3em;
            }
        }

        tr {
            td {
                border-top: none;
                border-right: 2px solid @table-border-color;
                border-bottom: 2px solid @table-border-color;
                vertical-align: top;
                padding: 9px;

                &:last-of-type {
                    border-right: none;
                }

                &.stock {
                }

                &.dispatch-date {
                }

                &.preorder {

                    input {
                        width: auto;
                        margin: 4px auto 0 auto;

                        &[disabled] {
                            &:before {
                                cursor: not-allowed !important;
                            }
                        }
                    }
                }

                &.dispatch-time {
                    padding: 9px 5px;

                    input {
                        width: 45%;
                        display: inline-block;
                        text-align: left;
                    }
                }

                &.country {
                    padding: 0;
                }

                &.base-price,
                &.sale-at-price,
                &.membership-sale-at-price {
                    padding: 0;

                    .inner-table {
                        tr {
                            td {
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                        }
                    }
                }

                &.options {
                    .dropdown-menu {
                        left: auto;
                        right: 0;
                    }

                    .btn-xs {
                        margin: 0;
                    }
                }
            }
        }

        input {
            display: block;
            width: 100%;
            border: none;
            padding: 0;
            background-color: transparent;
        }

        .inner-table {
            border-collapse: separate;
            width: 100%;
            border: none;

            tr {
                td {
                    border: none;
                    border-bottom: 1px dashed @table-border-color;
                    white-space: nowrap;
                }

                &:last-of-type {
                    td {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
