﻿.order-list-component {
    .all-countries {
        max-width: 9em;
    }

    table {
        th:nth-child(6),
        td:nth-child(6) {
            text-align: right;
        }

        td:last-of-type {
            text-align: right;
        }
    }
}
