﻿.edit-product-image-kits-component {

    .admin-subsection-controls {
        opacity: 1;

        .product-image-kit-delete {
            pointer-events: auto;
            opacity: 1;
        }
    }

    .product-image-kit-variant-option {
        display: inline-block;
        margin-right: 2em;
    }

    .image-sortable {
        .display-table {
            &.header {
                .display-table-cell {
                    &:nth-of-type(1) {
                        width: 100px;
                    }

                    &:nth-of-type(2) {
                        width: 180px;
                    }
                }
            }
        }

        .dd-handle {
            border-bottom: none !important;
            padding-left: 12px !important;

            .no-images {
                width: 100%;
                text-align: center;
            }
        }
    }
}
