﻿.loading-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.80);

    .loading-icon {
        display: block;
        max-width: 100px;
        margin: 35vh auto;
    }
}
