﻿.edit-country-component {
    .panel {
        position: relative;
        border-radius: 0;
        border: 1px solid #f3f3f3;
        box-shadow: none;

        .panel-heading {
            box-shadow: none;
            border-radius: 0;
            position: relative;
            cursor: pointer;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 5px;
                height: 100%;
                background-color: #337ab7;
                transition: background-color, .35s;
            }

            &.collapsed {
                &:before {
                    background-color: #e9ebee;
                }
            }

            .panel-title {
                font-size: 14px;
            }
        }

        .panel-collapse {

            .panel-body {
                border: none !important;
                border-top: none;
                box-shadow: none;

                .submit {
                    display: inline-block;
                    margin-bottom: 2em;

                    &.disabled {
                        pointer-events: none;
                    }
                }
            }
        }
    }
}
