﻿.product-list-component {

    .admin-top-bar-controls {
        .category-filter {
            width: 10em
        }

        .caret {
            margin-left: 5px;
        }
    }

    .file-input {
        margin-bottom: 3em;

        input {
            cursor: pointer
        }
    }

    .file-format-guide {
        padding: 1.5em 1em;
        background-color: #f9f9f9;
        border: solid 1px #e9ebee;

        .title {
            font-weight: bold;
        }

        .table-component {
            overflow-x: auto;
            white-space: nowrap;

            tbody {

                tr {
                    font-size: 0.85em;
                }
            }
        }

        .note {
            font-size: 12px;
            font-weight: bold;
            margin-top: 1em;
        }
    }

    .button-submit-component + .btn {
        margin-left: 5px;
    }
}
