﻿.checkout-summary {
    @breaking-point: 992px;
    @border-style: 1px solid #e6e6e6;

    .mobile-group-container() {
        background-color: white;
        border: @border-style;
        border-radius: 5px;
    }

    @media(max-width: @breaking-point) {
        .mobile-group-container;
    }

    & > div {
        padding: 2em 0;
        border-bottom: @border-style;

        @media(max-width: @breaking-point) {
            padding: 30px;
            margin: 0;
        }

        &:first-of-type {
            border-top: @border-style;

            @media(max-width: @breaking-point) {
                border-top: 0;
            }
        }

        &:last-of-type {
            @media(max-width: @breaking-point) {
                border-bottom: 0;
            }
        }
    }

    .title {
        font-weight: bolder;
    }

    .clickable-area {
        cursor: pointer;

        &.readonly {
            cursor: default;
        }
    }

    .items-summary {
        .title {
            margin-bottom: 1em;
        }

        .item {
            margin-bottom: 1em;
        }
    }
}

@import (optional) "checkout-summary-override.less";
