﻿@login-form-error: #93121e;

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .form-inputs {
        margin-bottom: 1.2em;
        width: 100%;
    }

    .form-input {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 2em;
        align-items: flex-start;

        .form-input__label {
            margin-bottom: 0.3em;
            letter-spacing: 0.02em;
        }

        .form-input__input {
            width: 100%;
            padding: 0.55em 0.5em;
            border: solid fade(gray, 20%) 1.5px;
            border-radius: 0.2em;
            outline: none !important;
            transition: border-color 0.3s;

            &:hover,
            &:focus {
                border-color: fade(gray, 50%);
            }

            &::-webkit-input-placeholder {
                color: fade(gray, 40%);
            }

            &:-moz-placeholder {
                color: fade(gray, 40%);
            }

            &::-moz-placeholder {
                color: fade(gray, 40%);
            }

            &:-ms-input-placeholder {
                color: fade(gray, 40%);
            }
        }

        .form-input__help-text {
            & > * {
                letter-spacing: 0.02em;
                transition: opacity 0.22s;
                opacity: 0.6;
            }

            a {
                &:hover {
                    opacity: 0.85;
                }
            }
        }

        &.form-input--error {
            .form-input__input {
                border-color: @login-form-error;
            }
        }
    }

    .form__button-separator {
        margin: 1em 0;
        letter-spacing: 0.02em;
    }

    .form__social-login {
        width: 100%;

        .button {
            margin-bottom: 1.5em;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .form__secondary-action {
        margin-top: 1em;
        letter-spacing: 0.02em;

        a {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

@import (optional) "login-form-override.less";
