﻿.cart-item {
    position: relative;
    display: flex;

    .product-image-link {
        margin-right: 25px;
        min-width: 80px;
        max-width: 160px;

        .product-image {
            width: 100%;
        }
    }

    .product-info {
        flex-grow: 1;

        .product-title-and-price-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .controls {
            .quantity {
                label {
                    margin-right: 0.5em;
                }

                select {
                    border: none;
                    cursor: pointer;
                    background-color: transparent;
                }
            }
        }
    }
}

@import (optional) "cart-item-override.less";